.language-dropdown {
    -fx-background-color: #e6e6e6;
    -fx-mark-color: rgba(101, 126, 228, 0.9);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 5, 0.4, 0, 1);
}

.language-dropdown > .label {
    -fx-font-size: 16;
    -fx-text-fill: #2e3338;
    -fx-font-weight: bold;
}

.language-dropdown .context-menu {
    -fx-background-radius: 10px;
    -fx-background-color: #f2f3f5;
    -fx-border-radius: 10px;
}

.language-dropdown .menu-item {
    -fx-label-padding: 2px;
    -fx-padding: 2 2 2 8;
}

.language-dropdown .menu-item > .label {
    -fx-font-size: 18;
    -fx-text-fill: #555c5d;
}

.language-dropdown .menu-item:focused {
    -fx-background-insets: 0 3px 0 3px;
    -fx-background-radius: 8px;
    -fx-background-color: rgba(101, 126, 228, 0.9);
}

.language-dropdown .menu-item:focused > .label {
    -fx-text-fill: white;
}